.card{
    border-radius: 12px;
    box-shadow: 5px 7px 15px gray;
    width: 13%;
    margin: 24px;
    padding: 20px;
}

.word{
    text-align: center;
    font-family: fantasy;
    font-size: larger;
}

.card2{
    width: 20%;
    box-shadow: 3px 4px 12px black;
    border-radius: 45px;
    padding: 25px;
}

.word2{
    text-align: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}