.container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: blue;
    padding: 5px;
    ;
}

.container div{
    background-color: aliceblue;
    padding: 10px;
}

.container div.header {
    grid-area: header;
    text-align: center;
}

.container div.menu {
    grid-area: menu;
    padding-left: 20px;
}

.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}