.inline{
    display: block;
}

.block{
    display: inline;
}

.kutu1{
    width: 300px;
    height: 300px;
    background-color: red;
    display: inline-block;
}

.kutu2{
    width: 300px;
    height: 300px;
    background-color: green;
      display: inline-block;
}