
h1{
    text-align: center;
    font-family: "Anton";
}

p{
    font-family: "Pacifico";
    font-size: 20px;
    font-weight: bold;
    font-stretch: inherit;
    font-style: italic;
    line-height: 1.6;
    text-align: inherit;
}

p2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}