*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
    height: 60px;
    padding: 5px;
    color: white;
    float: right;
    position: relative;
}

.navbar ul{
    display: flex;
    position: absolute;
    right: 100px;
    line-height: 30px;
}

.navbar ul li{
    list-style: none;
    margin: auto 0;
    margin-right: 12px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.navbar ul li a:hover{
    text-decoration: underline;
}

.navbar .images{
    display: flex;
    height: 30px;
    float: right;
    position: absolute;
    right: 10px;
}

.navbar .images a{
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    display: flex ;
}

.navbar .images a img{
    display: block;
    height: 20px;
    margin: auto 0;
    line-height: 60px;
}

.navbar .image a:nth-child(1) img{
    height: 15px;
    opacity: 0.6;
}

.google{
    margin-top: 5px;
    width: 100%;
}

.google img{
    height: 83px;
    line-height: 91px;
    display: block;
    margin:  0 auto ;
}

.search{
    width: 90%;
    max-width: 550px;
    height: 45px;
    margin: 25px auto 0 auto;
}

.search .input{
    height: 45px;
    position: relative;
}

.search .input input{
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 45px;
    border-radius: 24px;
    outline: none;
    border: 1px solid #dfe1e5;
    padding: 0 45px;
    font-size: 15px;
}

.search .input input:hover{
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
}

.search .input .fa-search{
    font-size: 15px;
    position: absolute;
    left: 17px;
    top: 16px;
    color:  rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.search .input .fa-microphone{
    font-size: 15px;
    position: absolute;
    right: 17px;
    top: 16px;
    color:  rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.buttons{
    display: block;
    text-align: center;
    margin-top: 20px;
}

.buttons button{
    min-width: 54px;
    height: 35px;
    padding: 0 16px;
    margin: 11px 4px;
    border: none;
    background-color: #f8f9fa;
    border-radius: 20px ;
}

.buttons button:hover{
    color: #202124;
    border: 1px solid #dadce0;
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

.buttons button a{
    text-decoration: none;
    color: black;
}

.languages{
    width: 100%;
    margin: 80px auto 0 auto;
    display: flex;
    font-size: 10px;
    line-height: 40px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.languages ul{
    margin-left: 5px;
    display: flex;
    
}

.languages ul li{
    list-style: none;
    margin-left: 1px;
}

.languages ul li a{
    text-decoration: none;
    color: blue;
}

.languages a:hover{
    text-decoration: underline;
}

.footer{
     margin-top: auto;
}

.footer .container{
    display: flex;
    padding: 15px ;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background-color: darkgray;
}

.footer-links{
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.footer-links li a{
    text-decoration: none;
    color: white;
}

.footer-links li a:hover{
    text-decoration: underline;
}

.footer-links2{
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.footer-links2 li a{
    text-decoration: none;
    color: white;
}

.footer-links2 li a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .languages{
        width: 100%;
        margin: 100px auto;
        justify-content: center;
        flex-wrap: wrap;
    }


    .navbar .images{
        right: 10px;
        font-size: 11px;
    }

    .navbar ul{
        right: 90px;
    }

    .footer .container{
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }


}